@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 222 47% 7%;
    --foreground: 0 0% 98%;
    --card: 220 26% 11%;
    --card-foreground: 0 0% 98%;
    --popover: 220 26% 11%;
    --popover-foreground: 0 0% 98%;
    --primary: 239 84% 67%;
    --primary-foreground: 0 0% 98%;
    --secondary: 217 19% 17%;
    --secondary-foreground: 0 0% 98%;
    --muted: 217 19% 17%;
    --muted-foreground: 218 11% 55%;
    --accent: 217 19% 17%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 217 19% 17%;
    --input: 217 19% 17%;
    --ring: 239 84% 67%;
    --radius: 0.75rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
